/* ESTILO GERAL*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background-color: #fff;
    height: 100vh;
}

.interface{
    max-width: 1180px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

h2.titulo{
    color: black;
    font-size: 28px;
    text-align: center;
}

h2.titulo span{
    color: rgb(45, 79, 190);
}

/* ESTILO DO CABEÇALHO */
header{
    padding: 40px 4%;
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: .5s;
}

header a{
    color: rgb(45, 79, 190);
    text-decoration: none;
    display: inline-block;
}

header a:hover{
    color: black;
    transform: scale(1.06);
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    padding: 0 40px;
}

.btn-contato button{
    padding: 10px 30px;
    font-size: 10px;
    font-weight: 600;
    background-color: rgb(45, 79, 190);
    border: 0;
    border-radius: 30px;
    color: #fff;
    transition: .3s;
}

.btn-contato button:hover{
    box-shadow: 0px 0px 8px rgb(71, 179, 241);
    transform: scale(1.1);
}

.logo img{
    width: 150px;
    height: auto;
}

/* ESTILO DO TOPO DO SITE */
section.topo-do-site{
    padding: 40px 10%;
}

.txt-topo-site{
    flex: 1;
}

.txt-topo-site h1{
    font-size: 38px;
    line-height: 40px;
}

.txt-topo-site span{
    color: rgb(45, 79, 190);
    font-size: 55px;
}

.txt-topo-site p{
    margin: 40px 0;
}

.img-topo-site{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 80px;
}

.img-topo-site img{
    width: 210px;
    height: 320px;
    object-fit: cover;
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}

.flex{
    display: flex;
    align-items: center;
}

@keyframes flutuar{
    0%{
        top: 0;
    }

    100%{
        top: 30px;
    }
}

/* ESPECIALIDADES */
section.especialidades{
    padding: 40px 4%;
}

section.especialidades .flex{
    gap: 60px;
}

.especialidades .especialidades-box{
    color: black;
    padding: 40px;
    text-align: center;
    border-radius: 20px;
    margin-top: 45px;
    transition: .3s;
    cursor: pointer;
}

.especialidades .especialidades-box:hover{
    transform: scale(1.05);
    box-shadow:
        0 0 5px rgb(45, 79, 190),
        0 0 15px rgb(45, 79, 190),
        0 0 25px rgba(45, 79, 190, 0.5);
}

.especialidades .especialidades-box i{
    font-size: 50px;
    color: rgb(45, 79, 190);
    display: block;
    margin-bottom: 15px;
    transition: .2s;
}

.especialidades .especialidades-box h3{
    font-size: 28px;
    margin: 15px 0;
}

.especialidades .especialidades-box p{
    line-height: 1.8;
}


/* ESTILO DO SOBRE */

section.sobre{
    padding: 40px 4%;
}

section.sobre .flex{
    align-items: center;
    gap: 35px;
}

.img-sobre img{
    width: 210px;
    height: 260px;
    object-fit: cover;
    border-radius: 10px;
}

.sobre .txt-sobre{
    color: black;
    max-width: 700px;
}

.sobre .txt-sobre h2{
    font-size: 30px;
    line-height: 1.2;
    margin-bottom: 15px;
}

.sobre .txt-sobre h2 span{
    color:rgb(45, 79, 190) ;
    display: block;

}

.sobre .txt-sobre p{
    line-height: 1.7;
    margin-bottom: 12px;
    text-align: justify;
    margin: 20px;
}

.sobre .txt-sobre .btn-social {
    display: flex;
    gap: 12px;
    margin-top: 20px;
    margin-left: 20px;
}

.sobre .txt-sobre .btn-social button {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 2px solid rgb(45, 79, 190);
    background-color: transparent;
    color: rgb(45, 79, 190);
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: .3s;
}

.sobre .txt-sobre .btn-social button:hover {
    background-color: rgb(45, 79, 190);
    color: #fff;
    transform: scale(1.1);
}

/* ESTILO DO POTIFOLIO */

section.portifolio{
    padding: 80px 4%;
    
}

section.portifolio .flex{
    justify-content: space-around;
    margin-top: 45px;
}

.img-port{
    width:360px ;
    height: 460px;
    background-color:rgb(45, 79, 190) ;

}

.img-port{
    width: 360px;
    height: 460px;
    background-color: rgb(45, 79, 190);
    background-size: cover;
    background-position:100% 0% ;
    border-radius: 10px;
    transition: 5s;
    cursor: pointer;
    border-radius: 40px;
    position: relative;
}

.img-port:hover{
    background-position:100% 100% ;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:100% ;
    background-color: rgba(0, 0, 0, 0.74);
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 450;
    color: #fff;
    opacity: 0;
    transition: 0.5s; ;


}

.overlay:hover{
    opacity: 1;

}

/*ESTILO DO FORMULARIO*/

section.formulario{
    padding: 80px 4%;

}

section.formulario form{
    max-width: 550px;
    margin: 40px auto 0;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

form input,
form textarea{
    width: 100%;
    background-color: rgba(180, 167, 167, 0.171);
    outline: 0;
    border: none; /* remove a borda preta */
    padding: 15px;
    border-radius: 20px;
    color: #000;
    font-size: 14px;
}

form textarea{
    resize: none;
    max-height: 200px;
}

form .btn-enviar{
    margin-top: 15px;
    text-align: center;
}


form .btn-enviar input[type=submit]{
    width:120px ;
    background-color:rgb(45, 79, 190) ;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
}

.btn-enviar input[type="submit"]:hover{
    transform: scale(1.05);
    box-shadow:
        0 0 8px rgb(71, 179, 241),
        0 0 16px rgb(71, 179, 241);
}


/* footer */
footer{
    padding: 40px 4%;
    background-color: #fff;
}

.line-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.line-footer:first-child{
    border-bottom: 2px solid rgb(45, 79, 190);
}

.logo-footer img{
    width: 80px;
    height: auto;
}

.line-footer .btn-social{
    display: flex;
    gap: 12px;
}

.line-footer .btn-social button{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 2px solid rgb(45, 79, 190);
    background-color: transparent;
    color: rgb(45, 79, 190);
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: .3s;
}

.line-footer .btn-social button:hover{
    background-color: rgb(45, 79, 190);
    color: #fff;
    transform: scale(1.1);
}


.line-footer p{
    font-size: 14px;
    color: #000;
}

.line-footer a{
    color: rgb(45, 79, 190);
    text-decoration: none;
}

.line-footer p{
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    color: #000;
}

.line-footer p i{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgb(45, 79, 190);
    color: #fff;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}